# This file specifies files that are _not_ uploaded to Google Cloud
 
# Ignore Git-related files
.git
.gitignore
 
# Node.js dependencies
node_modules/
dist
 
# Include sensitive files explicitly
!.env